@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after :focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

/*--------------------*/
.site {
  overflow: hidden;
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
}

.header {
  padding: 25px;
}

.header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__menu nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__menu nav ul li {
  padding: 0 15px;
}

.header__menu nav ul li a {
  font-family: Mulish;
  font-weight: bold;
  font-size: 18px;
  line-height: 23px;
  letter-spacing: -0.346154px;
  color: #111111;
}

.header__tittle {
  margin-top: 100px;
}

.header__tittle h4 {
  padding: 15px;
  font-family: Mulish;
  font-weight: bold;
  font-size: 22px;
  line-height: 28px;
  letter-spacing: -0.423077px;
  color: #4a4ff2;
}

.header__content {
  margin-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__text p {
  padding: 15px;
  font-family: Mulish;
  font-weight: bold;
  font-size: 40px;
  line-height: 60px;
  color: #111111;
}

.header__text p span {
  color: #4a4ff2;
}

.header__before {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin-right: 70px;
}

.header__before p {
  padding: 20px 15px;
  font-family: Mulish;
  font-style: italic;
  font-size: 18px;
  line-height: 23px;
  color: #111111;
  mix-blend-mode: normal;
  opacity: 0.6;
}

.header__before ::before {
  position: absolute;
  content: "";
  height: 2px;
  width: 30px;
  top: 160px;
  background-color: #111111;
  mix-blend-mode: normal;
  opacity: 0.6;
}

.projects {
  margin-top: 170px;
}

.projects__wrapper {
  padding: 25px;
}

.projects__colums {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  grid-gap: 16px;
}

.projects__colums img {
  width: 100%;
  padding: 8px 0;
}

.projects-group {
  margin-top: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.projects-group__title h5 {
  font-family: Mulish;
  font-weight: bold;
  font-size: 28px;
  line-height: 38px;
  color: #111111;
}

.projects-group__list {
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.projects-group__list li {
  padding: 3px 35px;
  font-family: Mulish;
  font-size: 18px;
  line-height: 23px;
  color: #111111;
  mix-blend-mode: normal;
  opacity: 0.6;
}

.awards {
  padding: 25px;
  margin-top: 100px;
  border-top: solid #d8d8d8 3px;
}

.awards-block {
  margin-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: solid #d8d8d8 3px;
}

.awards-block__title h1 {
  margin-right: 250px;
  font-family: Mulish;
  font-weight: bold;
  font-size: 22px;
  line-height: 28px;
  color: #111111;
  padding: 5px 0;
}

.awards-block__subtitle h3 {
  font-family: Mulish;
  font-weight: bold;
  font-size: 18px;
  line-height: 23px;
  color: #111111;
  padding: 12px;
}

.awards-block__h3-1 {
  margin-bottom: 150px;
}

.awards-block__h3-2 {
  margin-bottom: 150px;
}

.awards-block__text h6 {
  font-family: Mulish;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  color: #111111;
  padding: 13px;
}

.awards-block__text p {
  font-family: Mulish;
  font-size: 16px;
  line-height: 26px;
  color: #111111;
  mix-blend-mode: normal;
  opacity: 0.6;
  padding: 13px;
  margin-bottom: 50px;
}

.awards-block__date {
  font-family: Mulish;
  font-size: 16px;
  line-height: 20px;
  text-align: right;
  color: #111111;
  padding: 12px;
}

.details {
  margin-top: 150px;
}

.details__wrapper {
  padding: 25px;
}

.details__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.details__text {
  width: 49.60938%;
}

.details__text h1 {
  font-family: Mulish;
  font-weight: bold;
  font-size: 40px;
  line-height: 55px;
  color: #111111;
  padding: 12px;
  margin-bottom: 30px;
}

.details__text p {
  font-family: Mulish;
  font-size: 16px;
  line-height: 26px;
  color: #111111;
  mix-blend-mode: normal;
  opacity: 0.8;
  padding: 12px;
}

.details__list li {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  border-bottom: solid #d8d8d8 2px;
}

.details__list p {
  font-family: Mulish;
  font-weight: bold;
  font-size: 18px;
  line-height: 23px;
  color: #111111;
  padding: 22px 15px;
}

.details__grey {
  padding: 22px 15px;
  font-family: Mulish;
  font-weight: bold;
  font-size: 18px;
  line-height: 23px;
  color: #111111;
  mix-blend-mode: normal;
  opacity: 0.5;
}

.details-body {
  margin-top: 60px;
}

.details-body__wrapper img {
  width: 100%;
}

.details-body__wrapper p {
  padding: 15px;
  margin-top: 45px;
  font-family: Mulish;
  font-size: 16px;
  line-height: 26px;
  color: #111111;
  mix-blend-mode: normal;
  opacity: 0.8;
}

.details-footer__wrapper {
  margin-top: 45px;
}

.details-footer__wrapper img {
  width: 100%;
}

.details-footer__gallery {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
}
